.card {
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: var(--shadow);
  max-width: 500px;
  max-height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 20px; /* Space between buttons */
  justify-content: center;
  align-items: center;
}

button {
  font-family: 'Fredoka';
  background-color: var(--primary-color);
  color: white;
  padding: 12px 24px;
  font-size: 1.8rem;
  border: none;
  border-radius: 50px; /* Fully rounded pills */
  cursor: pointer;
  transition: transform 0.2s; /* Smooth animation on hover */
}

.primary-btn:hover {
  transform: scale(1.1);
}

.primary-img {
    max-width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}
