.card {
  background: var(--card-bg);
  padding: 3rem;
  border-radius: 20px;
  box-shadow: var(--shadow);
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 20px; /* Space between buttons */
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 24px;
  font-size: 1.3rem;
  border: none;
  border-radius: 50px; /* Fully rounded pills */
  cursor: pointer;
  transition: transform 0.2s; /* Smooth animation on hover */
}

.primary-btn:hover {
  transform: scale(1.05);
  background-color: var(--secondary-color);
}

.buttons-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}