@import './theme.css';

body {
  margin: 0;
  font-family: 'Segoe UI', 'Microsoft YaHei', 'PingFang SC', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#app {
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #ff4757;
}

.hidden {
  display: none !important;
}