.activity-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.activity-card {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #eee;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0,05);
  transition: all 0.2s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.activity-card:hover {
  transform: translateY(-3px);
  border-color: var(--primary-color);
  background-color: var(--bg-color);
  box-shadow: 0 8px 20px rgba(255, 71, 87, 0.2);
}

/* if exactly 5 children, then this layout:
    1  2
     5
    3  4
*/
.activity-grid .activity-card:nth-child(5) {
  grid-column: 1 / -1;
  grid-row: 2;

  background-color: var(--primary-color);
  color: white;
}

/* move 3. and 4. children to 3. row */
.activity-grid .activity-card:nth-child(3),
.activity-grid .activity-card:nth-child(4) {
    grid-row: 3;
}