.activity-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.activity-card {
  background: var(--card-bg);
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #eee;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0,05);
  transition: all 0.2s ease;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  overflow: hidden;
}

.activity-icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
  flex-shrink: 0;
}

.activity-card:hover {
  transform: translateY(-3px);
  border-color: var(--primary-color);
}

/* --- Spalten-Logik --- */

.activity-grid .activity-card:nth-child(1),
.activity-grid .activity-card:nth-child(3) {
    flex-direction: row;
    text-align: left;
}

.activity-grid .activity-card:nth-child(2),
.activity-grid .activity-card:nth-child(4) {
    flex-direction: row-reverse;
    text-align: right;
}

/* if exactly 5 children, then this layout:
    1  2
     5
    3  4
*/
.activity-grid .activity-card:nth-child(5) {
  grid-column: 1 / -1;
  grid-row: 2;

  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
}

/* move 3. and 4. children to 3. row */
.activity-grid .activity-card:nth-child(3),
.activity-grid .activity-card:nth-child(4) {
    grid-row: 3;
}