.choice-wrapper {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.date-card {
  cursor: pointer;
  max-width: 450px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.3s ease;
  padding: 50px;
  margin-bottom: 30px;
}

.date-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 15px 35px rgba(255, 71, 87, 0.3);
  border: 8px solid var(--primary-color);
}

.date-card:active {
  transform: scale(0.95);
}

.date-choice-img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  border: 8px solid var(--primary-color);
  margin-bottom: 1.5rem;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  font-size: 2.7rem;
}