.final-card-fixed {
  width: 500px;
  max-width: 90vw;
  min-height: 500px;
  box-sizing: border-box;
  flex-shrink: 0;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

#loading-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.progress-wrapper {
  width: 100%;
  height: 40px;
  background-color: #f8e7e7;
  border-radius: 20px;
  overflow: visible;
  margin: 30px 0;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.05);
  position: relative;
}

.progress-fill {
  width: 0%; /* start at zero */
  height: 100%;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  border-radius: 20px;

  position: relative;
  transition: width 0.5s cubic-bezier(0.25, 1, 0.5 ,1);
  box-shadow: 0 2px 5px rgba(255, 71, 87, 0.3);
}

.progress-heart {
  width: 64px;
  height: 64px;
  z-index: 10;

  position: absolute;
  right: -32px;
  top: 50%;
  transform: translateY(-50%);

  animation: heartbeat 1s infinite;
  filter: drop-shadow(0 2px 3px rgba(0,0,0,0.2));
}

@keyframes heartbeat {
  0% { transform: translateY(-50%) scale(1); }
  50% { transform: translateY(-50%) scale(1.2); }
  100% { transform: translateY(-50%) scale(1); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

#loading-text {
  font-size: 3rem;
  color: var(--primary-color);
}

/* Arrow Animation */
#scroll-arrow {
  margin-top: 30px;
  transition: opacity 0.5s, transform 0.5s ease;
}

.bounce-arrow {
  width: 18%;
  height: 18%;
  cursor: pointer;
}

.bouncing {
  animation: bounce 2s infinite; 
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-5px);}
}

#scroll-arrow.rotate-up {
  transform: rotate(180deg);
}

/* ---------- SLIDER --------- */

#success-container {
  width: 100%;
  position: relative;
  margin-top: 10px;
  animation: fadeIn 1s ease;
}

#slider-window {
  width: 100%;
  height: 450px;
  overflow: hidden;
  justify-content: center;
}

/* different from hidden: it is only invisible, but still physically in the layout */
.invisible {
  visibility: hidden !important;
}

.allow-overflow {
  overflow: visible !important;
}

#slider-track {
  width: 100%;
  height: 200%;


  /* Transition of slider */
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1)
}

.slide-section {
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

#slider-track.scrolled {
  transform: translateY(-50%);
}


/* ------------------------------ */

/* LETTER */
.letter-section-hidden {
  opacity: 0;
  margin-top: 50px;
  transform: translateY(20px);
  transition: all 1s ease;
  pointer-events: none; /* none clickable while hidden */
}

.letter-section-visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  margin-bottom: 50px;
}

.hint-text-small {
  font-size: 0.8rem;
  color: #ccc;
  margin-top: 20px;
}

/* ENVELOPE */
.envelope-wrapper {
  position: relative;
  width: 400px;
  height: 265px;
  margin: 0 auto;
  background-color: var(--tertiary-color);
  cursor: pointer;
  box-shadow: 0 15px 25px rgba(0,0,0,0.15);
  border-radius: 5px;
}

.envelope-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  border: 4px solid black;
  border-radius: 5px;
  z-index: 1;
}

.envelope-flap {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 0;
  height: 0;

  /* Triangle */
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 145px solid var(--tertiary-color); /* color of envelope */

  filter: drop-shadow(0 3px 0 black);

  transform-origin: top;
  transition: transform 0.6s ease 0.2s, z-index 0.2s;
  z-index: 5;
}

.envelope-flap::after {
  content: '';
  color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: -10px;
  left: -20px;
  width: 40px;
  height: 40px;

  background-color: #e49ec1;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 2px dashed rgba(255, 255, 255, 0.2);

  background-image: url(../../../resources/hk-heart-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.envelope-pocket {
  position: absolute;
  bottom: -5px;
  left: 4px;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 133px solid var(--tertiary-color);
  border-radius: 0 0 2px 2px;
  z-index: 4;

  filter: drop-shadow(0 -3px 0px black);
}

.letter {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 377px;
  height: 250px;
  background: white;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 3;

  /* logic for closing letter */
  transition: transform 0.3s ease 0s, z-index 0s linear 0s;
}

.envelope-wrapper.open .letter {
  transform: translateY(-100px) scale(2.12);
  z-index: 10;

  box-shadow:
    /* inner, light glow */
    0 0 15px rgba(255, 100, 130, 0.5),
    /* outer, soft glow */
    0 0 40px rgba(255, 100, 130, 0.4),
    /* the real box shadow for depth */
    0 30px 60px rgba(0,0,0,0.2);

  /* logic for opening letter */
  transition:
    transform 0.9s, cubic-bezier(0.34, 1.56, 0.64, 1) 0.6s,
    box-shadow 0.6s ease 0s,
    z-index 0s linear 0s;
}

/* ANIMATION CLASSES */
.envelope-wrapper.open .envelope-flap {
  transform: rotateX(180deg);
  z-index: 1; /* behind letter paper */
  transition: transform 0.6s ease 0s, z-index 0.2s;
}

/* LETTER STYLING */

.letter-content {
  font-family: 'Dongle';
  color: #444;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
}

.letter-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.invite-grid {
  display: grid;
  grid-template-columns: 60px 1fr; 
  gap: 8px 10px;
  align-items: baseline;
  margin-bottom: 20px;
  padding-left: 10px;
}

.invite-label {
  font-size: 1.4rem;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  text-align: right;
}

.invite-value {
  font-size: 1.4rem;
  color: var(--secondary-color);
  line-height: 1;
  text-align: left;
  margin-left: 20px;
}

.letter-footer {
  font-size: 1.5rem;
  text-align: left;
  margin-top: auto;
  color: #333;
}