#yes-btn {
  --btn-scale: 1;
  transform: scale(var(--btn-scale));
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);

  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 20px 40px;
}

#yes-btn:hover {
  transform: scale(calc(var(--btn-scale) * 1.1)); /* Grows slightly */
  box-shadow: 0 5px 15px rgba(255, 71, 87, 0.4);
}

#no-btn {
  background-color: var(--text-color);
  color: #ffffff;
  transition: all 0.5s ease;
  font-size: 1.5rem;
  padding: 10px 20px;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  margin: 0;
}
